.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.jumbotron {
  text-align: left;
  /* padding: 20px; */
}

.footer {
  margin: 20px;
  padding: 10px;
  text-align: center;
}

.drumSection {
  border: 20px red;
}

.drum-pad {
  margin: 4px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}